body {
  background-color: #eee;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.footer {
  height: 80px;
}

.button-container {
  margin-bottom: 10px;
}

.form-button {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .button-container {
    display: none;
  }
}