.screen-form-button {
  float: right;
  padding: 5px;
}

.screen-form-button-nofloat {
  margin-bottom: 10px;
}

.screen-title {
  font-size: 140%;
  font-weight: bold;
}

.screen-description {
  font-style: italic;
}

.screen-activated-text {
  color: #00aa00;
}

.screen-not-activated-text {
  color: #aa0000;
}

.screen-container {
    background-color: #fefefe;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    width: 100%;
    float: left;
    white-space: normal;
    overflow: hidden;
}