.slide-form-button-nofloat {
    margin-bottom: 20px;
}

.slide-thumb {
    max-height: 60px;
    max-width: 100px;
}

.slide-title {
    font-weight: bold;
}

.img-container {
    width: 100px;
    float: left;
}

.slide-description {
    font-style: italic;
    font-size: 80%;
}

.slide-container {
    background-color: #fefefe;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    height: 70px;
    width: 100%;
    float: left;
    white-space: normal;
    overflow: hidden;
}

.slide-delete {
    float: right;
    margin: 2px;
    cursor: pointer;
}

.slide-delete:hover {
    color: #b00;
}

.slide-inactive {
    opacity: 0.5;
}

.img-thumbnail {
    border: 0;
}