.slide-form-button-nofloat {
  margin-bottom: 20px;
}

.slide-thumb {
  display: block;
  width: 100%;
}

.slide-title {
  margin-left: 5px;
  font-weight: bold;
}

.slide-description {
  margin-left: 5px;
  font-style: italic;
  font-size: 80%;
}

.slide-container {
  background-color: #fefefe;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  width: 150px;
  height: 300px;
  float: left;
  white-space: normal;
  overflow: hidden;
}

.slide-delete {
  float: right;
  margin: 2px;
    cursor: pointer;
}

.slide-delete:hover {
  color: #b00;
}

.slide-inactive {
  opacity: 0.5;
}